
@font-face {
                          font-family: "anticon";
                          src: url('../fonts/anticon.ttf') format("truetype");
                        }
                        
.profil {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 832px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.profil .save {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 310px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.profil .camera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 130px;
  width               : 127px;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .camera .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 130px;
  width               : 127px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .camera .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 91px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .camera .cameraoanticon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 97px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "anticon", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.profil .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 199px;
  height              : 53px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .name .name1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(204, 189, 189, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.profil .name .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 2px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .name .jessica {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.profil .name .editanticon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "anticon", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.profil .adress {
  background-color    : rgba(255,255,255,0.0);
  top                 : 282px;
  height              : 53px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .adress .adress1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(204, 189, 189, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.profil .adress .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 2px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .adress .a43rueduparadis7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.profil .adress .editanticoncopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "anticon", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.profil .number {
  background-color    : rgba(255,255,255,0.0);
  top                 : 365px;
  height              : 53px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .number .phonenumber {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(204, 189, 189, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.profil .number .linecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 2px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .number .a0653466787 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.profil .number .editanticoncopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "anticon", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.profil .card {
  background-color    : rgba(255,255,255,0.0);
  top                 : 448px;
  height              : 53px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .card .creditcard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(204, 189, 189, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.profil .card .visa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 222px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(247, 183, 178, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.profil .card .linecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 2px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .card .a3829 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.profil .card .editanticoncopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "anticon", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.profil .day {
  background-color    : rgba(255,255,255,0.0);
  top                 : 531px;
  height              : 53px;
  width               : 293px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .day .shippingday {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(204, 189, 189, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.profil .day .linecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 2px;
  width               : 253px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .day .sunday10am1pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.profil .day .sunday10am1pm .span1 {
  text-align          : justify;
  line-height         : 25.0px;
}
.profil .day .sunday10am1pm .span2 {
  font-size           : 15.0px;
  text-align          : justify;
  line-height         : 18.0px;
}
.profil .day .sunday10am1pm .span3 {
  text-align          : justify;
  line-height         : 25.0px;
}
.profil .day .editanticoncopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "anticon", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.profil .favoriteproduct {
  background-color    : rgba(255,255,255,0.0);
  top                 : 637px;
  height              : 169px;
  width               : 520px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .favoriteproducts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.profil .favoriteproduct .avocado {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 125px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .avocado .rectanglecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 125px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .avocado .rectanglecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 96px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .avocado .avocado1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.profil .favoriteproduct .avocado .starcopy15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .avocado .starcopy16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .avocado .starcopy17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 110px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .avocado .starcopy18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .avocado .starcopy19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 137px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .chicken {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 125px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .chicken .rectanglecopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 125px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .chicken .rectanglecopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 96px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .chicken .chicken1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.profil .favoriteproduct .chicken .starcopy20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .chicken .starcopy21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .chicken .starcopy22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 106px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .chicken .starcopy23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .chicken .starcopy24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 10px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .viewall53 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 286px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(204, 189, 189, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.profil .favoriteproduct .corn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 125px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 347px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .corn .rectanglecopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 125px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .corn .corn1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(89, 171, 123, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.profil .favoriteproduct .corn .starcopy25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .corn .starcopy26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .corn .starcopy27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .corn .starcopy28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .corn .starcopy29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 71px;
  height              : 11px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 142px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .favoriteproduct .corn .rectanglecopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 96px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.profil .rollbackanticon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "anticon", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(247, 183, 178, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}